/***** Always True *****/
@media only screen {
  body {
    font-family: proxima-nova, sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  html, body, #appRoot, #root {
    color: #fff;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    /* font-family: 'Gasoek One', sans-serif; */
    background: rgba(228, 187, 106);
  }

  #appRoot {
  }

  ::-webkit-scrollbar {
      width: 0; 
      background: transparent; 
  }
}
/***** > 700px *****/
/* @media (min-width: 576px) {
  .container {
    max-width: 1275px;
  }
} */

@media only screen and (min-width: 700px) {
  html, body, #appRoot {
    /* min-width: 1275px; */
  }
}

/***** <= 700px *****/
@media only screen and (max-width: 700px) {

}