/***** Always True *****/
@media only screen {
    /*** General Purpose Display Styles ***/
    .none {display: none;}
    .flex {display: flex;}
    .flex-important {display: flex !important;}
    .column {flex-direction: column;}
    .absolute {position: absolute !important;}
    .hidden {visibility: hidden;}
    .row-reverse {flex-direction: row-reverse;}
    .column-reverse {flex-direction: column-reverse;}
    .align-center {align-items: center;}
    .align-end {align-items: flex-end;}
    .align-start {align-items: flex-start;}
    .justify-center {justify-content: center;}
    .justify-start {justify-content: flex-start;}
    .justify-start-important {justify-content: flex-start !important;}
    .align-self-center {align-self: center;}
    .align-self-start {align-self: flex-start;}
    .align-self-end {align-self: flex-end;}
    .justify-around {justify-content: space-around;}
    .scroll {overflow: scroll;}
    .no-scrollbar::-webkit-scrollbar {display: none;}
    .no-scrollbar {-ms-overflow-style: none;scrollbar-width: none;}
    .pointer:hover {cursor: pointer;}
    .text-center {text-align: center;}
    .text-start {text-align: start;}
    .justify-between {justify-content: space-between;}
    .padding-0 {padding: 0 !important;}
    .justify-end {justify-content: flex-end;}
    .word-break {word-wrap: break-word;}
    
    /*** Widths ***/
    .width-60 {width: 60%;}
    .width-80 {width: 80%;}
    .width-50 {width: 50%;}
    .width-100 {width: 100%;}
    .width-fit {width: fit-content;}

    /*** Heights ***/
    .height-95 {height: 95vh;}
    .height-100 {height: 100%;}
    
    /*** Shapes ***/
    .circle {border-radius: 50%;}
    
    /*** Paddings ***/
    .padding-30px {padding: 30px;}

    /*** Margins ***/
    .margin-0 {margin: 0;}
    .margin-top-20px {margin-top: 20px;}
    .margin-bottom-20px {margin-bottom: 20px;}
    .margin-30px {margin: 30px;}
    .margin-40px {margin: 40px;}

    /*** Colors ***/
    .black {color: #000;}
    .white {color: #fff;}

    /*** Opacities ***/

    /*** Fonts ***/

    /*** Text Styles ***/

    /*** Background Color Gradients ***/
    .green  {background: linear-gradient(180deg, #39CBB9 0%, #5BFE9E 100%);}
    .yellow {background: linear-gradient(225deg, #FBFF3C 0%, #DCD531 88.84%)}
    .red    {background: linear-gradient(225deg, #F78888 0%, #DA6767 88.84%);}
    .blue   {background: linear-gradient(225deg, #91FFFF 0%, #87E9FF 88.84%);}
    .orange {background: linear-gradient(225deg, #D69334 0%, #FD8F3C 88.84%);}
    .purple {background: linear-gradient(269.15deg, #C183F2 4.11%, #E5B2FF 96.97%);}

    /*** Shadows ***/
    
    /*** Rotations ***/
    
    /*** Squares ***/

    /*** Element Styles ***/
    h1 {font-size: 48px;}

    /*** Class Styles ***/
    .landing-header-1 {
        /* background-image: url("../media/svg/background_black3.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom; */
        padding: 200px 0 100px;
        background-color: #000;
        overflow: clip;
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .clicked:active {
        opacity: 80%;
    }

    .caption {
        line-height: 30px;
        color: lightgray;
    }

    .title {
        font-size: 75px;
        margin-bottom: 20px;
    }

    .footer {
        width: 100%;
        bottom: 0;
        padding: 20px;
    }
    
    .white-hover:hover {
        color: #fff !important
    }

    .public-sans {font-family: 'Public Sans', sans-serif !important;}
    .home-image-cluster-0-animation {animation: home-image-cluster-0 35s infinite ease-in-out;}
    .appear {animation: appear 2s ease-in forwards;}
    .fade-in {animation: appear 1s ease-out forwards;}

    /*** Mui Overridden ***/

    /*** Animations ***/
    .slide-20 {animation: slide 1s forwards;}

    @keyframes home-image-cluster-0 {
        0%, 19.99% {opacity: 0;}
        10% {opacity: 1;}
        20%, 39.99% {opacity: 0;}
        30% {opacity: 1;}
        40%, 59.99% {opacity: 0;}
        50% {opacity: 1;}
        60%, 79.99% {opacity: 0;}
        70% {opacity: 1;}
        80%, 99.99% {opacity: 0;}
        90% {opacity: 1;}
        0%, 19.99%, 100% {
            background-image: url("../media/images/home/pic0.jpg");
            background-position: top;
        }
        20%, 39.99% {
            background-image: url("../media/images/home/pic2.jpg");
            background-position: center;
        }
        40%, 59.99% {
            background-image: url("../media/images/home/pic3.jpg");
            background-position: center;
        }
        60%, 79.99% {
            background-image: url("../media/images/home/pic4.jpg");
            background-position: center;
        }
        80%, 99.99% {
            background-image: url("../media/images/home/pic5.jpg");
            background-position: center;
        }
    }

    @keyframes slide {
        100% {transform: translate(max(39vw, 425px));}
    }

    @keyframes appear {
        0% {opacity: 0}
        100% {opacity: 100%;}
    }

    .team-img {
        border-radius: 50%;
        aspect-ratio: 1;
        object-fit: cover;
        max-width: 200px;
    }
}

/***** > 1000px *****/
@media only screen and (min-width: 1000px) {
    .flex-more {display: flex;}
    .none-more {display: none !important;}
    .sign-header {
        width: 40%;
        background-size: 40%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .sign-form {
        width: 60%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

/***** <= 1000px *****/
@media only screen and (max-width: 1000px) {
    .none-less {display: none !important;}
    .flex-less {display: flex;}
    .align-center-respond {align-items: center;}

    .sign-header {
        width: 90%;
        background-size: 90px;
        background-color: #fff;
        height: 108px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .sign-form {
        width: 90%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .text-center-respond {
        text-align: center !important;
    }
    .justify-center-respond {
        justify-content: center;
    }
    .width-60-respond {
        width: 60% !important;
    }

    .column-respond {
        flex-direction: column;
    }
    .no-margin-respond {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .flex-respond {
        display: flex;
    }
    .width-80-respond {
        width: 80% !important;
    }
    .margin-top-40px-respond {
        margin-top: 40px;
    }
    /*** Idea gets exposure ***/
    .margin-top-10-respond {
        margin-top: 40px;
    }
    .margin-negative-20px-respond {
        margin-bottom: -20px;
    }
    .align-self-center-respond {
        align-self: center;
    }
}